
* {
    margin: 0;
    padding: 0;
}
.body-class{
    background-color: black;
    /* margin:0;
    padding:0; */
}

.header-subclass{
    display: flex;
    align-items: center;
}

.header-class{
    padding: 25px 55px;
    display: flex;
    justify-content: space-between;
}

.logo-img-class{
    height: 30px;
    margin-right: 10px;
}

.header-title{
    color: white;
    /* background-color: red; */
    font-size: 1.5rem;
    font-family: sans-serif;
}

.header-link-class{
    color: grey;
    font-size: 1rem;
    font-family: sans-serif;
    padding: 2px 3px;
    margin-left: 10px;
}

.box-1-class {
    display: flex;
    align-items: center;
}

.header-main-link-class {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-evenly;
}

.brightness-img-class{
    width: 25px;
}

.box-2-class{
    display: flex;
    align-items: center;
}

.button{
    width: 90px;
    height: 30px;
    background-color: #0069b9;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.search-class{
    margin: 0 18px;
}

.input-class{
    padding: 6px 16px;
     background-color: black;   /* your desired background */
    color: white;              /* text color for readability */
    border: 1px solid gray;    /* flat border instead of OS beveled */
    border-radius: 5px;        /* optional: rounded corners */
    outline: none;  
}

.body-version-class{
    color: white;
    display: flex;
    justify-content: center;
    padding: 14px;
    font-family: sans-serif;
}

.span-class{
    color: #0069b9;
    text-decoration: underline;
}

.sub-section1-div{
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
}

.section-class{
    display: inline-block;
    padding: 64px 5% 100px 5%;
    /* background-color: red; */
    justify-content: center;
}

.sub-section1-text{
    color: white;
    background-color: #242424;
    padding: 10px;
    border-radius: 5px;
}

.sub-section1-freetext{
    font-size: x-large;
    font-family: sans-serif;
}

.button{
    font-size: large !important;
    width: 60% !important;
    height: 47px !important;
}

.free-text{
    font-size: 1rem;
}

.text{
    font-size: small;
}

.span-text{
    text-decoration: underline;
    color: #0069b9;
}